bucket         = "REPLACE_WITH_bootstrap_state_bucket_name"
key            = "staging/terraform.tfstate"
region         = "ap-northeast-1"
dynamodb_table = "REPLACE_WITH_bootstrap_lock_table_name"
encrypt        = true
